
body{
	font-family: Verdana, Arial;
	margin-top: 25px;
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 0;
}


h1{
	font-size: 48px; 
	color: #0000ff;
	padding: 15px;
}



h2{
	font-size: 32px; 
	
}

img{
	width: 350px;
	border: 10px dashed #000000;
}

p{
	font-size: 24px; 
	padding-bottom: 15px;
	padding-left: 15px;
}
div{
	min-width: 100px;
	padding: 20px;
	border: 3px solid #ffffff;
}

div.red{
	background-color:#d5181ec3;
	text-align: right;
	margin-left: 50px;
	border-bottom-width: 3px;
	border-left-width: 10px;

}
div.blue{
	background-color:  #13c9e9;
	text-align: left;
	margin-right: 50px;
	border-right-width: 10px;
	border-bottom-width: 3px;

}



span{
	text-decoration: underline;
	text-transform: uppercase;
}
footer{
	background: #000000;
	background: linear-gradient(90deg,  #000000 0%, #0000ff 25%, #0066ff 70%,#000000 100%);
}
